
@{
    ViewData["Title"] = "RepeatWordForm";
}

<h1>Repeat Word Form</h1>
<form action="../Repeat/RepeatWordResult" method="post">

    Enter a word you like to repeat: <input type="text" name="Word" value="" />

    How many time you like to repeat: <input type="number" name="Number" value="" /><br/><br/>

    <input type="submit" value="Show me the repeated message" />



</form>
