
@{
    ViewData["Title"] = "RepeatWordResult";
}

@model RepeatWord

<h1>Repeat Word Result</h1>

<h4>You have entered the word "@Model.Word" to repeat @Model.Number times. </h4><br />
<h5>Result:<br/>@Model.RepeatWordFromUser()</h5>

 