@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p><a href="../Trip/MileageForm">Mileage Form</a></p>
        <p><a href="../Add/AddNumbersForm">Add Numbers Form</a></p>
        <p><a href="../Divide/DivideNumbersForm">Divide numbers Form</a></p>
        <p><a href="../Repeat/RepeatWordForm">Repeat Word Form</a></p>
        <p><a href="../Madlib/MadlibStoryForm">Madlib Story Form</a></p>
        <p><a href="../State/StateCapitalForm">State Capital Form</a></p>
    </div>
