
@{
    ViewData["Title"] = "MadlibStoryForm";
}

<h1>Madlib Story Form</h1>
<form action="../Madlib/MadlibStroryResult" method="post">

    <h3>Please enter following:</h3><br />
    <input type="text" name="Word1" placeholder="Adjective" />
    <input type="text" name="Word2" placeholder="Last Name" />
    <input type="text" name="Word3" placeholder="Adjective" /><br />
    <input type="text" name="Word4" placeholder="Noun" />
    <input type="text" name="Word5" placeholder="Adjective" />
    <input type="text" name="Word6" placeholder="Plural Noun" /><br />
    <input type="text" name="Word7" placeholder="Noun" />
    <input type="text" name="Word8" placeholder="Adjective" />
    <input type="text" name="Word9" placeholder="Plural Noun" /><br />
    <input type="text" name="Word10" placeholder="Noun" />
    <input type="text" name="Word11" placeholder="Adjective" />
    <input type="text" name="Word12" placeholder="Plural Noun" /><br />
    <input type="text" name="Word13" placeholder="Adjective" />
    <input type="text" name="Word14" placeholder="Adjective" />
    <input type="text" name="Word15" placeholder="Noun" /><br />
    <input type="text" name="Word16" placeholder="Noun" />
    <input type="text" name="Word17" placeholder="Letter Of Alphabet" />
    <input type="text" name="Word18" placeholder="Noun" /><br /><br />

    <input type="Submit" name="name" value="Show me my Madlib story" />

</form>

