
@{
    ViewData["Title"] = "StateCapitalForm";
}

<h1>State Capital Form</h1>

<form action="../State/StateCapitalResult" method="post">

    <label>Please enter state name or state abbreviation below:</label><br/>
    <input type="text" name="UserInput" placeholder="State" value="" /><br/><br />

    <input type="submit" value="Show me the State Capital"/>

</form>

