
@{
    ViewData["Title"] = "DivideNumbersForm";
}

<h1>Division Form</h1>
<form action="../Divide/DivideResult" method="post">

   Dividend <input type="number" name="Number1" value="" />

  <label>/</label>

   Divisor <input type="number" name="Number2" value="" />

          <input type="submit" name="name" value="Divide Numbers" />


</form>

